__pycache__/
*.pyc
.env
.vscode/
outputs/
inputs/

# Arquivos compilados do Python
*.py[cod]

# Ambientes Virtuais (Venv)
.venv/
venv/
env/

# Arquivos temporários e relatórios gerados localmente
relatorio_final.html
*.pdf
*.txt